DB_HOST=localhost
DB_PORT=5432
DB_USER=usermu
# Menggunakan kutip tunggal agar karakter $ aman dari pembacaan shell
DB_PASSWORD='$password_rahasiamu'
DB_NAME=ecommerce_product

# Port untuk aplikasi Golang kita berjalan
PORT=8080

DB_URL='postgres://usermu:PasswordRahasia@localhost:5433/ecommerce_product?sslmode=disable'